.vs/
.vscode/
ClipKeeper.Server.Data/bin/
ClipKeeper.Server.Data/obj/
ClipKeeper.Server.Domain/obj/
ClipKeeper.Server.WebService/bin/
ClipKeeper.Server.WebService/obj/
ClipKeeper.Server.Domain/bin/
ClipKeeper.Server.WebService/clipkeeper.db
ClipKeeper.Server.WebService/static/
ClipKeeper.Server.WebService/ClipKeeper.Server.WebService.csproj.user
ClipKeeper.Server.WebService/Debug/
