.vs/
ClipKeeper.Server.Data/bin/
ClipKeeper.Server.Data/obj/
ClipKeeper.Server.Domain/obj/
ClipKeeper.Server.WebService/bin/
ClipKeeper.Server.WebService/obj/
ClipKeeper.Server.Domain/bin/
ClipKeeper.Server.WebService/clipkeeper.db
.vscode/launch.json
.vscode/
